/*********
* 页面样式
*********/

/* =======
    基本样式
    =======*/

html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    /* 去掉小圆点 */
    list-style: none;
}

/********
工具样式
********/
.center-block {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    /* 元素占位仍然存在 */
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*  ==============
    浏览器更新提示
    ==============  */
.browerupgrage {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}
/*  ==============
    自定义页面样式
    ==============  */

body {
    font-size: 1.2rem;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a{
    color: #666;
    text-decoration: none;
}

a:hover,a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */

.container {
    width: 100%;
}

header .top {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}

header .top .tel {
    float: left;
}

header .top ul  {
    float: right;
}

header .top ul li {
    display: inline-block;
}

header .top ul li +li {
    border-left: 1px solid #999;
    margin-left: -3px;
}

header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

/* 媒体查询设置 */
@media only screen and (max-width: 800px) {
    header .top {
        background-color: green;
    }
}
@media only screen and (max-width: 481px) and (max-width: 800px) {
    header .top ul li a {
        color: red;
    }
}
@media only screen and (max-width: 480px) {
    header .top ul li a {
        color:blue;
    }
}



header .main .brand {
    float: left;
    padding: 1rem 1.5rem;
}


header .main ul {
    text-align: right;
}

header .main ul li {
    display:inline-block;
    border-left: 1px solid #f0ede9;
}

header .main ul li a {
    display: inline-block;
    padding: 0 2.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}



/* 网站主要内容 */
.container {
    width: 100%;
}

/* 交易信息 */
.transaction {
    width: 100%;
    background-color: #7c7365;
    overflow: hidden;
}

.trans-content {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.trans-data {
    float: left;
    padding: 1rem;
    text-align: left;
}

.trans-data span {
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}

.trans-data span.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255,255,255,.9);
    box-shadow: 1px 2px 1px #333 inset;
}

.trans-report {
    text-align: right;
}

.trans-report a {
    display: inline-block;
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
}

/* 底部导航 */
.footer {
    padding: 3rem 0;
    background: #fff;
    border-top: 2px solid #eee;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand {
    float: left;
    display: block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    width: 20%;
    height: 35px;
    background: url('../img/logo@1x.png') no-repeat left;
    background-size: 150px 35px;
}

.footer-content ul {
    float: left;
    width: 15%;
    text-align: center;
}

.footer-content ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-content ul li .title {
    font-size: 1.4rem;
    line-height: 3rem;
}

/* 网站底部 */
footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(http://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow:hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}
footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0px -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(../img/cert2.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    /* font-size: .5rem; */
    color: #999;
}
